<%= simple_form_for @bigbanner do |f| %>

<div class="form-group">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>

<div class="form-group">
  <%= f.button :submit, 'Uložiť' %>
</div>
<% end %>
