/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'lightbox';

 html, body{
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;

 }

 .content{
   width:1000px;
   margin-left: auto;
   margin-right: auto;
 }

 .page-header {
   max-height: 100px;
 }

 .logo {
   max-width: 200px;
   padding-left: 40px;
 }

 .nuo{
   width:780px;

 }
 .search_form{
   margin-left: 72%;
   margin-bottom: 1%;
 }
 .navbar .navbar-nav {
   display: inline-block;
   float: none;
   vertical-align: top;

 }

 .navbar .navbar-collapse {
   text-align: center;
   background-color: #069a06;
   font-size: 25px;
   text-align: center;

   li a {
     color:black;
     font-size: 17px;

   }

   li a:hover{
     color:white;
   }
 }



 .container-fluid{
   width: 100%;
   margin: 0 0;
   padding: 0 0;
 }
 .container{
   width: 100%;

 }

.article {
  overflow: auto;
  padding-right: 4%;
  clear: both;
  position: relative;


  img{
    width: 45%;
    float: left;
    margin-right: 4%;
  }

  h3 a{
    color:black;
    font-size: 16px;
  }

  h3{
    margin-bottom: 7px;
    margin-top: 0px;
  }
  h6{
    display: inline;
    font-size: 11px;
    margin-bottom: 0px;
    margin-top: 2px;
  }
  h6 a{
    color:#069a06;
  }

  p{
    font-size: 12px;
    margin-top: 4px;
  }
}

.text-left{
  height:100%;
}

.footer {
  background: none repeat scroll 0 0 #1e1e1e;
  width: 100%;
  margin-top: 20px;

  .footer_container {
    margin: 0 auto;
    overflow: hidden;
    width: 980px;

    .footer_box{
      color: #666;
      float: left;
      margin: 0 17px 20px;

      a{
        color: inherit;
        display:block;
      }
    }
  }
}
.category_box{
  a{
    display:block;
    font-size: 16px;
    color: black;
  }
  h4{
    color: #069a06;
    font-size: 20px;
    font-weight: bold;
  }
  hr{
    color:#069a06;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  iframe{
    width:100% !important ;
  }
}

h2{
color: #069a06;
font-size: 40px;
font-weight: bold;
}

.reklama{
  width: 100%;
  height: auto;
  img{
    width: auto;
  }
}

.title{
  width: 100%;
  height: auto;
}

.top-post{
  background-color:#e5e5e5;
  overflow: auto;
  padding-right: 4%;
  clear: both;
  margin-bottom: 30px;
  position: relative;

  .text{
    display: inline;
    width: 100%;
    height: 100%;
  }
  h5{
    display: inline;
    font-size: 15px;
  }
  h5 a{
    color:#069a06;
    font-size: 15px;
  }
  a{
    outline: medium none;
    color:black;
    font-size: 25px;
  }
  img{
    width: 50%;
    float: left;
    margin-right: 4%;

  }
}
.boxcase{
  clear: both;
  overflow: hidden;
  margin-bottom: 30px;
  .box{
    width: 22%;
    margin-right: 3%;
    margin-bottom: 0;
    box-sizing: border-box;
    float: left;
    img{
      max-height: 100px;
      height: auto;
      margin-bottom: 5px;
      width: 100%;

    }
    a{
      color:black;
      font-size: 15px;
    }
  }
}
.pagination{
  width: 100%;
  a{
    color:#069a06;
    font-size: 15px;
  }
}

form{
  width: 300px;
  margin-left: 5%;
}

#new_post{
  width:750px;
  margin-left: 5%;
}

@media (max-width: 1700px){
  .top-post {
    a{
      font-size: 30px;
    }
    h4{
      font-size: 18px;
    }
}
}

@media (max-width: 1500px){
  .top-post {
    a{
      font-size: 25px;
    }
    h4{
      font-size: 18px;;
    }
}

}
@media (max-width: 1200px){
  .nuo{
    width: 800px;
    position:relative;
    left:0%;
  }
    .top-post {
      h4{
        font-size: 15px;;
      }
  }
}
@media (max-width: 1000px){
  .content{
    width: 100%;
  }
  .nuo{
    display: none;
  }

  .top-post{
    a{
      font-size: 20px;
    }

}
   .footer_box{
     iframe, h4{
       display: none;
     }
   }
}
@media (max-width: 800px){
  .top-post{
    padding-right: 0;
    padding-bottom: 4%;

    img{
      width: 100%;
      margin-bottom: 2%;
    }

    p, h4 {
      margin-left: 4%;
      margin-right: 4%;
    }

    h5 {
      display: none;
    }


  }
  .boxcase{
      .box{
        width:47%;
        display:inline;
        img{
          max-height: 150px;
        }
    }

  }
  .container{
    width: 100%;
  }
  .article {
    h3 a{
      font-size: 15px;
    }
  }
}


@media (max-width: 550px){
  .container{
    h2{
      font-size: 35px;
    }
  }
  .top-post {

    a{
      font-size: 15px;
    }
  h4{
    font-size: 12px;
  }
  }
  .boxcase{
    .box{
      a{
        font-size: 13px;
      }
    }

  }
  .article{
    .text-left{
      display: block;
      p, h6{
        display: none;
      }
    }
    a{
      font-size: 15px;
    }
    img{
      float: none;
      width: 100%
    }

  }
  .col-xs-6.col-md-4{
    display: none;
  }
   .category_box{
     a{
       font-size: 15px;
     }
   }

  .footer{
    display: none;
  }


}
