// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-content {


  h1{
    font-weight: bold;
    color: black;
  }
  img{
    width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

  }
}

  .perex {
  color: #09652e;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
  font-size: 22px;
}


.post-content{
  text-align: justify;
}

.post-content p{
  font-size: 17px;
}

@media (max-width: 550px){
  .blog-content{
    width: 100%;
    h1{
      font-size: 20px;
    }
  }
  .perex{
    text-align:justify;;
    font-size: 15px;
  }
}
