<div class="footer">
  <div class="footer_container">
    <div class="footer_box">
      <h3>Spravodajstvo</h3>
      <%category_all%>
      <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
      <%end%>
    </div>
    <div class="footer_box">
      <h3>Reklama</h3>
      <%= link_to image_tag("detvatv.png"), "https://www.youtube.com/channel/UC4NcizfuGUkvqSQVZ40rPIg" %>
    </div>
    <div class="footer_box">
      <h4>Facebook</h4>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTvojePodpolanie%2F&tabs&width=340&height=180&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1645360119052120" width="340" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

</div>
</div>
